
    <div>
        <a href="/">
            <button class="btn btn-outline-success btn-lg">_Home_</button>
        </a>
        <a href="/info">
            <button class="btn btn-outline-info btn-lg">Info</button>
        </a>
        <a href="/logout">
            <button class="btn btn-outline-warning btn-lg">Logout</button>
        </a>
     </div>