  <%- include('header')%>

    
      <div class="form-group"> 
        
        <h2> Hello <%= user.fullName %>!!</h2>
        <h5>Email: <%= user.email %> </h5>
      </div>

      <div class="login-page, form-group">
        
       </div>
  </body>
</html>