<form method ="post" action = "/log/user">
    <div class="form-group">
        <h4>Login</h4>
        <h5><%= LogInErr %></h5>
             <input type ="email"  name="email"  class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email" required />
            
       <div class="form-group">
            <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password" name="password" required />
       </div>
    
     <button  class="btn btn-warning btn-lg active"> LogIn </button> 
    </div>
</form>